{% import "helpers/ng.twig" as ng %}
{% import "helpers/components.html.twig" as component %}

<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>iHair</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

</head>
<body ng-app="ihair" ng-controller="main">
{% block content %}
{% endblock %}

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TZQW6P"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TZQW6P');</script>
<!-- End Google Tag Manager -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src='/bower_components/underscore/underscore.js'></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src='/bower_components/angular-google-maps/dist/angular-google-maps.js'></script>

<script src="/scripts/main.js"></script>
<script src="/scripts/SalonService.js"></script>
<script src="/scripts/Geolocation.js"></script>
<script src="/scripts/Map.js"></script>
<script src="/scripts/controllers/salons-list.js"></script>
<script src="/scripts/controllers/map.js"></script>
<script src="/scripts/controllers/main.js"></script>
<!-- endbuild -->
</body>
</html>